.ContactMainContainer{
    width: 100%;
    height: fit-content;
    padding: 160px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container {
    width: 40%;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 2rem;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size:5rem;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #313131;
  }
  
  .form-container .link {
    color: #1778f2;
    text-decoration: none;
  }
  
  .form-container .signup-link {
    align-self: center;
    font-weight: 500;
  }
  
  .form-container .signup-link .link {
    font-weight: 400;
  }
  
  .form-container .link:hover {
    text-decoration: underline;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    min-height: 150px; /* Set the minimum height */
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
  }
  
  .form-container .form-group textarea::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #1778f2;
  }