* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: rgba(128, 128, 128, 0.288);
}

*::-moz-selection {
  background: rgba(128, 128, 128, 0.288);
}


* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root{
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  cursor:default;
}
body{
  overflow-x: hidden;
}
.sliderContainer{
width: 100%;
height: 100vh;
/* margin-top: 90px; */
overflow-y: hidden;
z-index: 1;

}
.splide__toggle{
  display: none;
  border: none;
}
.Slider{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.splide {
  padding: 0;
}
.custom-wrapper{
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
.SplideTrack{
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.SplideSlide{
  width: 100%;
  height: 100%;
  z-index: 1;
}
.SlideImageContainer{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.SlideImageContainer img{
  width: 100%;
}
.AboutJaipur{
  width: 100%;
  height: fit-content;
  padding: 80px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.AboutJaipur h1{
  font-size: 4rem;
  color: black;
  font-weight: 400;
  letter-spacing: 2px;
  
}
.AboutJaipur p{
  font-size: 1.7rem;
  color: rgb(44, 44, 44);
  text-align: center;
  line-height: 30px;
}

.HomeMainContainer{
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12rem;
  font-weight: 500;
}
.AccommodationContainer{
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url(./Images/Accommodation\ Background.jpg);
  background-size: cover;
  background-position: center;
    padding: 80px 150px;
}
.AccommodationContainer .AccommodationHeading{
  font-size: 4rem;
  color: #785740;
  font-weight: 400;
  letter-spacing: 2px;
}
.ActivityContainer{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  padding-top: 80px;

  gap: 60px;
}
.dayContainerWrapper{
  width: 100%;
  height: fit-content;
  height: fit-content;
  display: flex;
  overflow: hidden;
  gap: 0;
}
.dayContainer{
  width: 33.33%;
  /* height: fit-content; */
  border: 1px solid black;
  overflow: hidden;
  transform: scale(1.63);
  background-color: red;
}

.dayContainer1{
  clip-path: polygon(0% 0%, 100% 0%, 60% 100%, 0% 100%);
}
.dayContainer2{
  clip-path: polygon(40% 0%, 100% 0%, 60% 100%, 0% 100%);
}
.dayContainer3{
  clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 0% 100%);

}
.dayContainer img{
  width: 100%;
  transition: all .5s;
}
.dayContainer:hover img{
  transform: scale(1.1);

}
/* responsive code below*/
@media screen and (max-width:1920px) {
  html {
      font-size: 60%;
  }
}

@media screen and (max-width:1300px) {
  html {
      font-size: 60%;
  }
  .SlideImageContainer{
    height: 100vh;
  }
  .SlideImageContainer img{
    width: unset;
    height: 100%;
    
}
}

@media screen and (max-width:1200px) {
  html {
      font-size: 60%;
  }
 
}

@media screen and (max-width:998px) {
  html {
      font-size: 55%;
  }
}

@media screen and (max-width:768px) {
  html {
      font-size: 50%;
  }

}

@media screen and (max-width:500px) {
  html {
      font-size: 45%;  
  }

}

@media screen and (max-width:430px) {
  html {
      font-size: 43%;
  }
}

@media screen and (max-width:375px) {
  html {
      font-size: 40%;
  }
}
@media screen and (max-width:300px) {
  html {
      font-size: 40%;
  }
}

/* responsive code above */

